@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Book
<div>

    <table>
        <tbody>
            <td><picture>pic</picture></td>
            <td>
                <h3>@Html.DisplayFor(model => model.Title)</h3>
                <h5>@Html.DisplayFor(model => model.Author)</h5>
                <p>@Html.DisplayFor(model => model.DateOfPublication)</p>
                <p>@Html.DisplayFor(model => model.Genre)</p>
            </td>
            <td>
                <a asp-action="Update" class="btn btn-outline-success" asp-route-id="@Model.ID">Update</a>
                <span class="btn btn-outline-danger">Delete</span>
            </td>
        </tbody>
    </table>
    <a asp-action="Index">Back</a>
</div>